/* Override styling for Connection Tool, by TW */

h1, h2, h3, h4, h5, h6 { font-family: "proxima-nova", sans-serif; font-weight: 700; color: #616161; }

body {
	color: #616161;
	background: #E4E4E4;
}

.btn-primary, .btn-primary, .btn-primary, .btn-primary {
color: #fff;
background-color: #ed117d;
border-color: #ed117d;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff;
background-color: #00debc;
border-color: #00debc;
}

a {
color: #512150;
}


/* Header + Footer */

header {
	height: 120px;
	background: #F4F4F5;
	margin-bottom: 60px;
}

header ul {
	margin-top: 30px;
}
header ul li{
	display: inline;
	list-style: none;
}
.hide-text {
	display: none;
}

#footer  {
	margin-bottom: 0px;
}

#legal {
	margin-top: 88px;
}

header h5, header p {
	text-align:right;
}

.nav-bar { /* use when buttons are hidden */
	margin-top: 60px;
	float:left;
}

/* Project Page */

img.cover {
    display:block;
    margin:auto;
}

.container.body {
	margin-bottom:30px;
}

#project_header {
	margin-bottom: 30px;
}

.left_col {
	background: #00debc;
	padding: 15px;
	margin-bottom: 60px;
}
.avatar {
	width:60px;
	height:60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.external_links {
	margin: 5px 0;
}
.external_links ul {
	padding: 5px;
	background: white;
	margin-top: 10px;
}

.external_links li {
	border-bottom: 2px #E4E4E4 solid;
	list-style: none;
	margin: 4px 0;
	padding:4px 0;
}

.external_links li:last-child {
	border-bottom: 0px;
}

.update {
	background: white;
	margin-left: 30px;
	padding: 15px 0;
	overflow: hidden;
	min-height: 350px;
}

.update button{
	float:right;
	margin-right:15px;
}


/* About */
#about {
	margin-bottom: 50px;
}

.round {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Followers */

.follower_wrap {
	background: white;
	padding: 15px;
	margin-bottom:30px;
	overflow:hidden;
}
.follower_wrap ul li{
	display: inline;
	list-style: none;
	margin-right: 3px;
}
.follower_left {
	width:20%;
	float:left;
}

.follower_right {
	width:75%;
	float:right;
}

.follower_right h2, .follower_right h5 {
	margin:0;
	padding: 0;
}

.follower_right h5 {
	margin-bottom:10px;
}


/* ======= From Guestbook, don't know if still needed...but probably for form page ===== */
/* Heroine */

.heroContent {
	text-align: center;
}

#heroine {
	background: #512150;
	color: white;
}

/* Table styling  */


table#basic_info, table#basic_info .form-group, table#basic_info input  {
	width:100%;
}

table#basic_info td {
	width:45%;
	padding-top: 20px;
}

table#basic_info tbody tr:nth-child(even) {
background: none;
}

table#basic_info label {
	font-size: 21px;
}

table#basic_info input {
	font-size: 18px;
	height: 40px
}


/* Form + Madlibs */

.secondary {
	margin-top: 130px;
	padding: 13px;
	background: #00debc;
	color: white;

}

.secondary p {
	font-weight: bold;
}

#madlibs {
	background:  #f4f5f5;
	padding: 20px;
	margin-top: 50px;
}

#madlibs span {
	border-bottom: 2px dotted #00DEBC;
	padding-bottom: 7px;
}

#madlibs p{
	font-size: 21px;
}

#madlibs p:last-child {
	margin-bottom: 0px;
}

.ml_inline::-webkit-input-placeholder {
   text-align:center;
}

.ml_inline:-moz-placeholder { /* Firefox 18- */
   text-align:center;  
}

.ml_inline::-moz-placeholder {  /* Firefox 19+ */
   text-align:center;  
}

.ml_inline:-ms-input-placeholder {  
   text-align:center; 
}

input.ml_inline {
	border: 0;
	border-bottom: 2px dotted #00DEBC;
	background-color: transparent;
	box-shadow: none;
	width: 40%;
	display: inline;
}

#question {
	width: 100%;
}

a.ml_submit, input.ml_submit{
	display:inline-block;
	background:#ed117d;
	color:white;
	padding:10px 20px 10px 20px;
	margin:30px auto;
	font-weight:500;
	font-family: "league-gothic", sans-serif;
	text-transform: uppercase;
	border: 0;
	font-size: 36px;
}

a.ml_submit:hover, input.ml_submit:hover{
	background-color:#00debc;
	text-decoration: none;
	cursor: pointer;
}

a.ml_submit {
	font-size: 18px;
}

/* DIGEST PAGE */

/* sort ul */

#sort ul li{
	background-color: #00debc;
	border: none;
	display: inline-block;
	margin: 0 0 0.3em 3px;
	font-size: 18px;
	padding: 2px 7px;
	line-height: 1.7em;
	color: #fff;
	font-family: "league-gothic", sans-serif;
	text-transform: uppercase;
	text-align: center;
}

#sort ul li:first-child {
	background: none;
	color: #616161;
}

#sort li.sort_li:hover {
	background: #616161;	
	color:#ffffff;
	cursor:pointer;
}

#sort li.selected {
	background: #616161;
}

.guest_wrap {
	margin-bottom: 30px
}

.guest_inner {
	background: white;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 15px 0 15px;
}

/* list padding */
.email_list, .shortlist {
	margin-left: 15px;
}

.guest_head, .guest_body, .guest_footer {
	padding: 0 15px 0;
}

.guest_body {
	background: #F4F4F4;
	padding-top: 15px;
}

.guest_footer {
	padding-top: 15px;
}

.guest_footer p{
	margin: 0;
}

.name {
	width: 80%;
}

.name h4 {
	margin-top:0;
	margin-bottom:5px;
}


/*  Colors
Grey: #616161
Teal: #00debc
Purple: #512150
Pink: #ed117d
Yellow: #fcd804
Eggshell: #f4f5f5

Main Copy Color: #616161
*/

.pink {
	color: #ed117d;
}
